<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Benjamin's Buys</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <header>
    <!--  ---------------------------------------------------------------------------------------->
    <div>
      <nav class=" navbar navbar-expand-sm bg-dark navbar-dark">

          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;">Dollar</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" style="color: black;">Clp</a>
            <a class="dropdown-item" href="#" style="color: black;">Dollar AUS 2</a>
          </div>

          <div class="dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;">
              Español
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Ingles</button>
            </div>
          </div>
            <a href="#" class="navbar-link" style="margin-left: 1100px;color:white;">$ 0.0 <i class="fas fa-shopping-cart"></i>
            </a>
      </nav>
    </div>
    <!--------------------------------------------------------------------------------------------------------->
  </header>
  <h1 class="text-center mt-3">BENJAMIN BUY’S</h1><hr>

  <ul class="nav justify-content-center">
    <li class="nav-item ml-0 mr-5">
      <a class="nav-link active" id="menu" href="#" style="color: black" >Inicio</a>
    </li>
    <li class="nav-item ml-5 mr-5">
      <a class="nav-link" id="menu" href="#" style="color: black" routerLink="/poleras">Poleras</a>
    </li>
    <li class="nav-item ml-5 mr-5">
      <a class="nav-link" id="menu" href="#" style="color: black"routerLink="/pantalones">Pantalones</a>
    </li>
    <li class="nav-item ml-5 mr-5">
      <a class="nav-link" id="menu" href="#" style="color: black" routerLink="/zapatillas">Zapatillas</a>
    </li>
    <li class="nav-item ml-5 mr-5">
      <a class="nav-link" id="menu" href="#" style="color: black" routerLink="/reloj">Reloj</a>
    </li>
  </ul>




  <router-outlet></router-outlet>
</body>
</html>
