
<div class="wrap mt-3">
  <img src="../../../assets/reloj/r1.jpg" style="margin-left: 5%;width: 1000px;height: 400px;">
  <h1>Escoge un producto</h1>
  <div class="store-wrapper">
    <div class="category_list">
      <a href="#" class="category_item" category="all">Festina</a>
      <a href="#" class="category_item" category="ordenadores">Rolex</a>
      <a href="#" class="category_item" category="laptops">Samsung</a>
    </div>
    <section class="products-list">
      <div class="product-item" category="laptops">
        <img src="../../../assets/reloj/r1.jpg" alt="" style="height: 140px;">
        <a href="#">Pants</a>
      </div>
      <div class="product-item" category="laptops">
        <img src="../../../assets/reloj/r2.jpg" alt="" style="height: 140px;">
        <a href="#">Pants</a>
      </div>
      <div class="product-item" category="smartphones">
        <img src="../../../assets/reloj/r1.jpg" alt="" style="height: 140px;">
        <a href="#">Pants </a>
      </div>
      <div class="product-item" category="smartphones">
        <img src="../../../assets/reloj/r4.jpg" alt="" style="height: 140px;">
        <a href="#">Pants</a>
      </div>
    </section>
  </div>
</div>
