
<div class="wrap mt-3">
  <img src="../../../assets/pantalones/p2.jpg" style="margin-left: 9%;width: 1000px;">
  <h1>Escoge un producto</h1>
  <div class="store-wrapper">
    <div class="category_list">
      <a href="#" class="category_item" category="all">Nike</a>
      <a href="#" class="category_item" category="ordenadores">Adidas</a>
      <a href="#" class="category_item" category="laptops">Drew</a>
      <a href="#" class="category_item" category="smartphones">Zara</a>
      <a href="#" class="category_item" category="monitores">Black</a>
      <a href="#" class="category_item" category="audifonos" style="color: #FFD700;font-family: Goudy Old Style;">PREMIUN</a>
    </div>
    <section class="products-list">
      <div class="product-item" category="laptops">
        <img src="../../../assets/pantalones/p1.jpg" alt="" style="height: 140px;">
        <a href="#">Pants</a>
      </div>
      <div class="product-item" category="laptops">
        <img src="../../../assets/pantalones/p3.jpg" alt="" style="height: 140px;">
        <a href="#">Pants</a>
      </div>
      <div class="product-item" category="smartphones">
        <img src="../../../assets/pantalones/p4.jpg" alt="" style="height: 140px;">
        <a href="#">Pants </a>
      </div>
      <div class="product-item" category="smartphones">
        <img src="../../../assets/pantalones/p5.jpg" alt="" style="height: 140px;">
        <a href="#">Pants</a>
      </div>
      <div class="product-item" category="ordenadores">
        <img src="../../../assets/pantalones/p6.jpg" alt="" style="height: 140px;">
        <a href="#">Pants</a>
      </div>
      <div class="product-item" category="ordenadores">
        <img src="../../../assets/pantalones/p7.jpg" alt="" style="height: 140px;">
        <a href="#">Pants</a>
      </div>
      <div class="product-item" category="laptops">
        <img src="../../../assets/pantalones/p8.jpg" alt="" style="height: 140px;">
        <a href="#">Pants</a>
      </div>
      <div class="product-item" category="laptops">
        <img src="../assets/Poleras/p2.jpg" alt="" style="height: 140px;">
        <a href="#">Pants</a>
      </div>

    </section>
  </div>
</div>
